.categorySection{

padding:100px 8%;

background:#090909;

}

.categorySection h2{

text-align:center;

font-size:46px;

font-family:'Playfair Display',serif;

margin-bottom:60px;

color:white;

}

.categoryGrid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:28px;

}

.categoryCard{

height:420px;

border-radius:22px;

overflow:hidden;

position:relative;

cursor:pointer;

transition:.4s;

}

.categoryCard img{

width:100%;

height:100%;

object-fit:cover;

transition:.6s;

}

.categoryCard:hover img{

transform:scale(1.12);

}

.overlay{

position:absolute;

inset:0;

background:linear-gradient(
to top,
rgba(0,0,0,.85),
rgba(0,0,0,.15)
);

display:flex;

flex-direction:column;

justify-content:flex-end;

padding:30px;

}

.overlay h3{

font-size:30px;

font-family:'Playfair Display',serif;

margin-bottom:18px;

}

.overlay button{

width:140px;

padding:12px;

background:#d4af37;

border:none;

border-radius:30px;

font-weight:700;

transition:.35s;

}

.overlay button:hover{

background:white;

}

.categoryCard:hover{

transform:translateY(-8px);

box-shadow:0 20px 45px rgba(0,0,0,.45);

}

@media(max-width:1100px){

.categoryGrid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.categoryGrid{

grid-template-columns:1fr;

}

}