.footer{
    background:#0b0b0b;
    color:white;
    padding:70px 8% 30px;
    margin-top:100px;
}

.footerTop{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:50px;
}

.footerLogo h2{
    color:#d4af37;
    font-size:34px;
    margin-bottom:15px;
}

.footerLogo p{
    color:#9d9d9d;
    line-height:1.8;
}

.footerLinks{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.footerLinks h3,
.footerSocial h3{
    margin-bottom:15px;
}

.footerLinks a{
    color:#a8a8a8;
    text-decoration:none;
    transition:.3s;
}

.footerLinks a:hover{
    color:#d4af37;
}

.icons{
    display:flex;
    gap:15px;
    font-size:22px;
}

.icons svg{
    cursor:pointer;
    transition:.3s;
}

.icons svg:hover{
    color:#d4af37;
    transform:translateY(-3px);
}

.footerBottom{
    border-top:1px solid rgba(255,255,255,.08);
    margin-top:50px;
    padding-top:25px;
    text-align:center;
    color:#888;
}

@media(max-width:900px){

.footerTop{
    grid-template-columns:1fr;
}

}