.orderCard{

display:flex;

gap:30px;

background:rgba(20,20,20,.75);

backdrop-filter:blur(20px);

border-radius:25px;

padding:25px;

border:1px solid rgba(255,255,255,.05);

transition:.35s;

}

.orderCard:hover{

transform:translateY(-8px);

box-shadow:0 20px 45px rgba(0,0,0,.45);

}

.orderImage img{

width:170px;

height:220px;

object-fit:cover;

border-radius:20px;

}

.orderInfo{

flex:1;

display:flex;

flex-direction:column;

gap:12px;

}

.orderTop{

display:flex;

justify-content:space-between;

align-items:center;

}

.orderTop h2{

font-size:28px;

font-family:'Playfair Display',serif;

}

.status{

padding:10px 20px;

border-radius:30px;

font-weight:700;

}

.pending{

background:#ffd54f;

color:black;

}

.processing{

background:#42a5f5;

}

.shipped{

background:#7e57c2;

}

.delivered{

background:#66bb6a;

}

.cancelled{

background:#ef5350;

}

.viewBtn{

margin-top:15px;

width:170px;

text-align:center;

padding:14px;

border-radius:40px;

background:#d4af37;

color:black;

text-decoration:none;

font-weight:700;

transition:.3s;

}

.viewBtn:hover{

transform:translateY(-3px);

}