.skeletonCard{

    background:#111;

    border-radius:24px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.05);

}

.skeletonImage{

    width:100%;

    height:420px;

    background:linear-gradient(
        90deg,
        #151515 25%,
        #222 50%,
        #151515 75%
    );

    background-size:400% 100%;

    animation:loading 1.4s infinite;

}

.skeletonBody{

    padding:24px;

}

.skeletonTitle,
.skeletonText,
.skeletonPrice{

    height:18px;

    border-radius:8px;

    margin-bottom:18px;

    background:linear-gradient(
        90deg,
        #151515 25%,
        #222 50%,
        #151515 75%
    );

    background-size:400% 100%;

    animation:loading 1.4s infinite;

}

.skeletonTitle{

    width:80%;
    height:28px;

}

.skeletonText{

    width:100%;

}

.short{

    width:65%;

}

.skeletonPrice{

    width:35%;
    height:30px;

}

@keyframes loading{

0%{

background-position:100% 0;

}

100%{

background-position:-100% 0;

}

}