.chartCard{

background:#181818;

padding:25px;

border-radius:20px;

}

.chartCard h2{

color:white;

margin-bottom:20px;

}

.bars{

height:320px;

display:flex;

align-items:flex-end;

justify-content:space-around;

}

.bar{

width:45px;

background:linear-gradient(#D4AF37,#FFD95A);

border-radius:12px 12px 0 0;

position:relative;

transition:.4s;

}

.bar:hover{

transform:scaleY(1.05);

}

.bar span{

position:absolute;

top:-25px;

font-size:12px;

color:white;

left:-5px;

}