.customers{

padding:35px;

color:white;

}

.customerHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.customerHeader h1{

font-size:34px;

}

.customerHeader input{

width:320px;

padding:14px;

background:#181818;

border:1px solid #333;

border-radius:10px;

color:white;

outline:none;

}

.customerHeader input:focus{

border-color:#d4af37;

}

table{

width:100%;

border-collapse:collapse;

background:#121212;

border-radius:16px;

overflow:hidden;

}

thead{

background:#1f1f1f;

}

th{

padding:18px;

text-align:left;

color:#d4af37;

}

td{

padding:18px;

border-top:1px solid #262626;

}

tbody tr:hover{

background:#1a1a1a;

transition:.3s;

}