.orderDetails{

padding:140px 8%;

background:#070707;

min-height:100vh;

color:white;

}

.orderDetails h1{

font-size:54px;

margin-bottom:50px;

font-family:'Playfair Display',serif;

color:#d4af37;

}

.topSection{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:60px;

}

.topSection div{

background:#111;

padding:25px;

border-radius:20px;

}

.timeline{

display:flex;

align-items:center;

justify-content:space-between;

margin:70px 0;

}

.timeline div{

font-weight:700;

}

.line{

height:3px;

background:#333;

flex:1;

margin:0 12px;

}

.active{

color:#d4af37;

}

.products{

display:flex;

flex-direction:column;

gap:25px;

margin-top:50px;

}

.product{

display:flex;

gap:30px;

background:#111;

padding:20px;

border-radius:18px;

}

.product img{

width:140px;

height:180px;

object-fit:cover;

border-radius:18px;

}

.address{

margin-top:60px;

background:#111;

padding:30px;

border-radius:20px;

}

.loading{

padding:200px;

text-align:center;

}