.productDetails{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

padding:120px 8%;

background:#050505;

min-height:100vh;

color:white;

}

.productLeft img{

width:100%;

height:700px;

object-fit:cover;

border-radius:25px;

}

.category{

display:inline-block;

padding:8px 20px;

background:#d4af37;

color:black;

border-radius:30px;

font-weight:600;

margin-bottom:20px;

}

.productRight h1{

font-size:52px;

margin-bottom:15px;

font-family:'Playfair Display',serif;

}

.rating{

color:gold;

margin-bottom:20px;

font-size:18px;

}

.productRight h2{

font-size:40px;

color:#d4af37;

margin-bottom:25px;

}

.productRight p{

line-height:34px;

font-size:18px;

color:#bdbdbd;

margin-bottom:30px;

}

.productRight h4{

margin-bottom:40px;

font-size:20px;

}

.buttons{

display:flex;

gap:20px;

}

.cartBtn{

padding:18px 35px;

border:none;

border-radius:40px;

background:#d4af37;

font-size:17px;

font-weight:700;

cursor:pointer;

}

.buyBtn{

padding:18px 35px;

border:none;

border-radius:40px;

background:white;

color:black;

font-size:17px;

font-weight:700;

cursor:pointer;

}

.loading{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

background:black;

}

@media(max-width:900px){

.details{

grid-template-columns:1fr;

}

.left img{

height:450px;

}

.right h1{

font-size:36px;

}

.buttons{

flex-direction:column;

}

}