*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
padding-top:100px;

background:#060606;

color:white;

font-family:

Inter,
sans-serif;

overflow-x:hidden;

}

a{

text-decoration:none;

color:white;

}

.page{

padding:120px 60px;

min-height:100vh;

}