@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
:root{

--gold:#d6b16d;

--card:#111;

--dark:#060606;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:var(--gold);

border-radius:10px;

}

input,
button{

outline:none;

border:none;

}

button{

cursor:pointer;

}